[submodule "bms_inputcontroller"]
	path = bms_inputcontroller
	url = ../../babylonms/bms_inputcontroller.git
[submodule "bms_windowslist"]
	path = bms_windowslist
	url = ../../babylonms/bms_windowslist.git
[submodule "bms_screencontentexporter"]
	path = bms_screencontentexporter
	url = ../../babylonms/bms_screencontentexporter.git
[submodule "bms_imagebuffer"]
	path = bms_imagebuffer
	url = ../../babylonms/bms_imagebuffer.git
